*{
    background-color: black;
    color: aliceblue;
}
td{
    font-size: 3px;
    width: 6px;
    height: 6px;
    background-color: rgba(255, 235, 205, 0.113);
    color: blue;
    border-radius: 20%;
}
td:hover{
    background-color: rgba(100, 148, 237, 0.517);
}
.new{
    background-color: cornflowerblue;
}
.pink{
    background-color: rgb(159, 190, 247);
}